<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <p><%= f.text_field :name, class: 'form-control' %> </p>

      <%= f.label :email %>
     <p><%= f.email_field :email, class: 'form-control' %></p> 

      <%= f.label :password %>
      <p><%= f.password_field :password, class: 'form-control' %></p> 

      <%= f.label :password_confirmation, "Confirmation" %>
      <p><%= f.password_field :password_confirmation, class: 'form-control' %></p> 

      <%= f.submit "Create my account", class: "btn btn-primary btn-block" %> 
    <% end %>
  </div>
</div>