<h1>
  <%= link_to gravatar_for(current_user, size: 70), current_user %>
  <%= current_user.name %>
</h1>
<span><%= link_to "view my profile", current_user %></span>
<br/>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>